{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    <h1>/!\----/!\</h1>


    
    <p>{% set ma_variable = 'Je suis une variable' %}</p>

    {{ ma_variable ~ ' concaténée' }}

    <p>{% set ma_variable = 12 %}</p>

    {{ ma_variable * 3 }}

    {% if ma_variable > 10 %}
        <p>{{ ma_variable }} est supérieure à 10</p>
    {% else %}
        <p>Ma variable est inférieure à 10</p>
    {% endif %}

    {% set j = 0 %}

<ul>
    {% for i in 0..10 %}
        {% set j = j+2 %}
    <li>{{ i }} - {{ j }}</li>
    {% endfor %}
</ul>

    {% set chaine = 'Je suis une chaine' %}
    <p>{{ chaine|upper }}</p>

    <h1>Page d'accueil</h1>

    <p>{{ ma_variable|upper }}</p>
    <p>{{ autre_variable }}</p>
    <p>{{ var_bool }}</p>
    <p>{{ date_naissance|date }}</p>

    <p>{{ tableau|join(', ', ' and ') }}</p>
 
{% endblock %}
